<div class="container-fluid p-4">
    <div class="table-responsive-lg">
      <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome do ticket</th>
          <th>Descrição do ticket</th>
          <th>Nome da sala</th>
          <th>Nível de prioridade do ticket</th>
          <th>Data de criação</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th scope="row">1</th>
            <td>António</td>
            <td>Sala António Semedo criada</td>
            <td>Asus - Placa de Rede - António Semedo - Worten</td>
            <td>Normal</td>
            <td>20/11/2019</td>
            <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Hugo</td>
            <td>Sala Hugo António criada</td>
            <td>HP - Placa de Vídeo - Hugo Antonio - Worten</td>
            <td>Alta</td>
            <td>10/11/2019</td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" 
                data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>António</td>
            <td>Sala António Semedo criada</td>
            <td>Asus - Placa de Rede - António Semedo - Worten</td>
            <td>Normal</td>
            <td>20/11/2019</td>
            <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Hugo</td>
            <td>Sala Hugo António criada</td>
            <td>HP - Placa de Vídeo - Hugo Antonio - Worten</td>
            <td>Alta</td>
            <td>10/11/2019</td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" 
                data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>António</td>
            <td>Sala António Semedo criada</td>
            <td>Asus - Placa de Rede - António Semedo - Worten</td>
            <td>Normal</td>
            <td>20/11/2019</td>
            <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Hugo</td>
            <td>Sala Hugo António criada</td>
            <td>HP - Placa de Vídeo - Hugo Antonio - Worten</td>
            <td>Alta</td>
            <td>10/11/2019</td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" 
                data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>António</td>
            <td>Sala António Semedo criada</td>
            <td>Asus - Placa de Rede - António Semedo - Worten</td>
            <td>Normal</td>
            <td>20/11/2019</td>
            <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Hugo</td>
            <td>Sala Hugo António criada</td>
            <td>HP - Placa de Vídeo - Hugo Antonio - Worten</td>
            <td>Alta</td>
            <td>10/11/2019</td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" 
                data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>António</td>
            <td>Sala António Semedo criada</td>
            <td>Asus - Placa de Rede - António Semedo - Worten</td>
            <td>Normal</td>
            <td>20/11/2019</td>
            <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Hugo</td>
            <td>Sala Hugo António criada</td>
            <td>HP - Placa de Vídeo - Hugo Antonio - Worten</td>
            <td>Alta</td>
            <td>10/11/2019</td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" 
                data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>António</td>
            <td>Sala António Semedo criada</td>
            <td>Asus - Placa de Rede - António Semedo - Worten</td>
            <td>Normal</td>
            <td>20/11/2019</td>
            <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Hugo</td>
            <td>Sala Hugo António criada</td>
            <td>HP - Placa de Vídeo - Hugo Antonio - Worten</td>
            <td>Alta</td>
            <td>10/11/2019</td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" 
                data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Hugo</td>
            <td>Sala Hugo António criada</td>
            <td>HP - Placa de Vídeo - Hugo Antonio - Worten</td>
            <td>Alta</td>
            <td>10/11/2019</td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" 
                data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Hugo</td>
            <td>Sala Hugo António criada</td>
            <td>HP - Placa de Vídeo - Hugo Antonio - Worten</td>
            <td>Alta</td>
            <td>10/11/2019</td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" 
                data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Hugo</td>
            <td>Sala Hugo António criada</td>
            <td>HP - Placa de Vídeo - Hugo Antonio - Worten</td>
            <td>Alta</td>
            <td>10/11/2019</td>
            <td>
                <button class="btn btn-light" data-toggle="tooltip" 
                data-placement="bottom" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-danger" data-toggle="tooltip" 
                data-placement="bottom" title="Apagar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>