<div class="container-fluid p-4">
  <div class="dashboard-forms-users">
      <h2>
          Registar nova empresa
          <i class="fas fa-building ml-2 fa-1x"></i>
      </h2>
      <form class="border shadow-sm" action="/dashboard/user/new" method="POST">
          <div class="form-group col-lg-12">
              <label class="" for="exampleInputName1">Nome da empresa</label>
              <input
                  type="text" 
                  name="fullname"
                  class="form-control" 
                  aria-describedby="emailHelp" 
                  placeholder="Nome da empresa" required>
          </div>
          <button type="submit" class="btn-form btn btn-block shadow-sm mt-4">Registar</button>
      </form>
  </div>
</div>