<html>
  <head>
    <title><%-  %></title>
  </head>
  <h2>Olá mundo</h2>
  <ul>
    <% users.forEach(({ name, age, club }) =>  { %>
        <li><%- `Nome: ${name}, idade: ${age}, Clube que apoia: ${club}` %></li>
    <% }) %>
  </ul>

</html>