body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: red;
}

a {
  color: #00B7FF;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-area {
  display: flex;
  justify-content: center;
  align-content: center; 
}

.content {
  display: flex;
  flex-direction: column;
}