body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DDDD36;
}

a {
  color: #00B7FF;
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-area {
  display: flex;
  justify-content: center;
  align-content: center; 
}

.content {
  display: flex;
  flex-direction: column;
}

.main-area > .content > img {
  background-color: transparent !important;
  border: none;
}

.main-area .content form {
  margin-top: 20px;
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
}