
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
}

.login {
  min-height: 100vh;
  background-color: #DDDD36;
}

.login .title {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.login .login-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.login .login-form .btn-form {
  background-color: #F3EC78;
  color: black;
  font-weight: bold;
  border: none;
}

.login-footer {
  bottom: 0;
  margin-top: 50px;
  width: 100%;
  background: #757575;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 0.7rem
}
/* 
@media screen and (max-width: 650px) {
  .login img {
    width: 130px;
    text-align: center;
    margin: 20px 20px;
  }
}

@media screen and (max-width: 1097px) {
  .login {
    height: auto;
  }

  .login .container {
    margin-bottom: 50px;
    padding: 40px;
  }
} 

@media only screen 
  and (min-width: 768px) 
  and (max-height: 1366px) {

    .login {
      height: 100vh;
    }
}
*/

/* dashboard */

.sidebar-sticky {
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

