
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%;
}

.login {
  min-height: 100vh;
  background-color: #DDDD36;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .title {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.login .login-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.login .login-form .btn-form {
  background-color: #F3EC78;
  color: black;
  font-weight: bold;
  border: none;
}

.login-footer {
  bottom: 0;
  width: 100%;
  background: #757575;
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 0.7rem
}

@media screen and (max-width: 650px) {
  .login .col-md-12 img {
    width: 130px;
    text-align: center;
  }
  .login .col-md-12 {
    margin-bottom: 20px;
  }
}

/* dashboard */

.sidebar-sticky {
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar-sticky .nav-link:hover {
  border-right: 2px solid #E4D530;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/* dashboard home */

.card-deck .card-footer {
  text-align: center;
  cursor: pointer;
}

.card-deck .card-body {
  color: #E0EBF9;
}

.card-deck .card-tickets .card-body {
  color: #FFFFFF;
}

.card-deck .card {
  color: #ffffff;
  border: none;
}

.card-deck .card-users {
  background-color: #659CE0;
}

.card-deck .card-rooms {
  background-color: #34B4C1;
}

.card-deck .card-rooms {
  background-color: #34B4C1;
}

.card-deck .card-alerts {
  background-color: #ED6B76;
}

.card-deck .card-tickets {
  background-color: #ed9121;
}

.card-deck .card-users .card-footer {
  background-color: #84B0E6;
}

.card-deck .card-rooms .card-footer {
  background-color: #5DC3CD;
}

.card-deck .card-alerts .card-footer {
  background-color: #F18991;
}

.card-deck .card-tickets .card-footer {
  background-color: #f5c07f;
}

/* dashboard forms */

/* dashboard-forms-rooms */

.dashboard-forms-rooms h2,
.dashboard-forms-users h2 {
  font-weight: lighter;
  margin: 30px 0px;
  padding: 10px;
}

.dashboard-forms-rooms h2::before {
  content: '';
  margin-right: 10px;
  border-left: 10px solid #34B4C1;
}

.dashboard-forms-rooms form,
.dashboard-forms-users form {
  background-color: #fafafb;
  padding: 30px 20px;
  border-radius: 10px;
}

.dashboard-forms-rooms button[type=submit] {
  margin-top: 10px;
  background-color: #34B4C1;
  border-color: #46B8DA;
  color: #FFFFFF;
}

.dashboard-forms-rooms button[type=submit]:active{
  background-color: #46B8DA;
}

/* dashboard-forms-users */

.dashboard-forms-users h2::before {
  content: '';
  margin-right: 10px;
  border-left: 10px solid #659CE0;
}

.dashboard-forms-users button[type=submit] {
  margin-top: 10px;
  background-color: #659CE0;
  border-color: #84B0E6;
  color: #FFFFFF;
}

.dashboard-forms-users button[type=submit]:active{
  background-color: #659CE0;
}

