<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome do alerta</th>
        <th>Descrição do alerta</th>
        <th>Alerta visível para</th>
        <th>Data de criação</th>
        <th>Data de validade</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">f57e020a-98c3-4ce0</th>
          <td>Manutenção</td>
          <td>A nossa app vai entrar em manutenção </td>
          <td>Cliente</td>
          <td>26/11/2019</td>
          <td>20/12/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>