<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Identificador da sala</th>
        <th>Nome da sala</th>
        <th>Data de criação</th>
        <th>Data de última atualização</th>
        <th>Data de validade</th>
        <th>Data de validade</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>18671152 2 ZX8</td>
          <td>20/11/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>13838077 5 ZX3</td>
          <td>10/11/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>11537830 8 ZY3</td>
          <td>19/09/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>12322456 0 ZY9</td>
          <td>20/11/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>11785118 3 ZW6</td>
          <td>10/11/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>17099781 2 ZZ8</td>
          <td>19/09/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>12423264 7 ZX4</td>
          <td>20/11/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>14266273 9 ZZ6</td>
          <td>10/11/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>13933659 1 ZX7</td>
          <td>19/09/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>11101940 0 ZZ0</td>
          <td>20/11/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>16549759 9 ZY8</td>
          <td>10/11/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>17079982 4 ZX7</td>
          <td>19/09/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>18213634 5 ZV4</td>
          <td>20/11/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
            </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>14890227 8 ZV0</td>
          <td>10/11/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>19541057 2 ZZ4</td>
          <td>19/09/2019</td>
          <td>
              <button class="btn btn-light" data-toggle="tooltip" 
              data-placement="bottom" title="Editar">
                  <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" data-toggle="tooltip" 
              data-placement="bottom" title="Apagar">
                  <i class="fas fa-trash"></i>
              </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>