<div class="container-fluid p-4">
  <div class="table-responsive-lg">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Identificador da sala</th>
        <th>Nome da sala</th>
        <th>Data de criação</th>
        <th>Data de última atualização</th>
        <th>Data de validade</th>
        <th>Status da sala</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <th scope="row">1</th>
          <td>4e02b957-3498-4e2d-b144-60191f668825</td>
          <td>xsd1cvxas1laqvuzx</td>
          <td>Asus - Placa de Rede - António Semedo - Worten </td>
          <td>18671152 2 ZX8</td>
          <td>20/11/2019</td>
          <td>
            <button class="btn btn-light" data-toggle="tooltip" 
            data-placement="bottom" title="Editar">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" data-toggle="tooltip" 
            data-placement="bottom" title="Apagar">
                <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>