<div class="container-fluid p-4">
    <form>
        <div class="form-group">
            <label for="nameRoom">Nome da sala</label>
            <input type="text" class="form-control" name="nameRoom" placeholder="Nome da sala">
        </div>
        <div class="form-group">
            <label for="roomCode">Identificador da sala</label>
            <input type="text" class="form-control" name="roomCode" value="<%- payload.token %>" readonly>
        </div>
        <div class="form-group">
            <label for="datasheet">Ficha de dados</label>
            <select name="datasheet" class="selectpicker show-tick form-control border" data-live-search="true">
                <option disabled selected>Oh sim, abre-me todo!</option>
                <optgroup label="Fichas técnicas inseridas">
                    <option>pc_virus_de_conteudo_indecente_ASUSXL3.pdf</option>
                    <option>placa_rede_toda_marada_NoNotion.pdf</option>
                    <option>32352612_BrunoGabrielNunesMartins_Caso012523.pdf</option>
                </optgroup>
                <optgroup label="Legumes nunca descobertos">
                    <option>Pesquisa por babolas</option>
                    <option>Pesquisa por cetatas</option>
                    <option>Pesquisa por cenoiras</option>
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <label for="datasheet">Utilizadores</label>
            <select name="datasheet" class="selectpicker show-tick form-control border" data-live-search="true">
                <option disabled selected>Oh sim, abre-me todo!</option>
                <optgroup label="Clientes">
                    <option>Guilherme Rodrigues</option>
                    <option>Bruno Martins</option>
                    <option>32352612_BrunoGabrielNunesMartins_Caso012523.pdf</option>
                </optgroup>
                <optgroup label="Legumes nunca descobertos">
                    <option>Pesquisa por babolas</option>
                    <option>Pesquisa por cetatas</option>
                    <option>Pesquisa por cenoiras</option>
                </optgroup>
            </select>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>