<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color: #e4d530;">
    <a class="navbar-brand" href="#">
      <img src="/images/logo-syncready-vector-shadow.png" width="30" height="30" class="d-inline-block align-top mr-2" alt="">
      SyncReady
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-5">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 sidebar vh-100 border-right" style="background-color: #F8F9FA">
        <!-- label com icon -->
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-dark">
          <span>Utilizadores</span>
          <a class="d-flex align-items-center text-dark" href="#">
              <i class="fas fa-user mr-2"></i>
          </a>
        </h6>

        <ul class="nav flex-column ml-3">
          <li class="nav-item">
            <a class="nav-link text-black-50 " href="#">
              <i class="fas fa-plus mr-2 text-black-50"></i>
              Inserir novo utilizador
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black-50 " href="#">
              <i class="fas fa-list mr-2 text-black-50"></i>
              Listar utilizadores
            </a>
          </li>
        </ul>

        <!-- label com icon -->
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-dark">
          <span>Salas</span>
          <a class="d-flex align-items-center text-dark" href="#">
              <i class="fas fa-comments"></i>
          </a>
        </h6>

        <ul class="nav flex-column ml-3">
          <li class="nav-item">
            <a class="nav-link text-black-50 " href="#">
              <i class="fas fa-plus mr-2 text-black-50"></i>
              Registar nova sala
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black-50 " href="#">
              <i class="fas fa-list mr-2 text-black-50"></i>
              Listar salas
            </a>
          </li>
        </ul>
    </nav>
    <div class="col-md-10 border-top">
      <!-- formulários -->
      <%- include('user/list_user') %>
    </div>
  </div>
</div>