<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/logo-syncready-vector-shadow.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
</nav>