<div class="container-fluid p-4">
    <div class="alert alert-success" role="alert">
        <i class="fas fa-check d-flex justify-content-center fa-9x"></i>
        <hr>
        <h4 class="alert-heading">Sucesso!</h4>
        <p>Registo inserido com sucesso na base de dados da SyncReady :)</p>
        <hr>
      </div>
</div>