<div class="container-fluid p-4">
  <div class="card-deck">
    <div class="card card-users text-right shadow">
      <div class="row no-gutters">
        <div class="col-md-4 p-4 text-left">
          <i class="fas fa-users card-img fa-6x"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Utilizadores</strong></h4>
            <p class="card-text">12.300 </p>
            <p class="card-text">
                <small>Last updated 1 min ago by <strong>Tíburcio o condutor</strong></small>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-footer border-top">
            <p class="card-text">Ver lista de clientes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-rooms text-right shadow">
      <div class="row no-gutters">
        <div class="col-md-4 p-4 text-left">
          <i class="fas fa-comments card-img fa-6x"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Salas</strong></h4>
            <p class="card-text">12.300</p>
            <p class="card-text">
                <small>Last updated 10 secs ago</small>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-footer border-top">
            <p class="card-text">Ver lista de clientes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-tickets text-right shadow">
      <div class="row no-gutters">
        <div class="col-md-4 p-4 text-left">
          <i class="fas fa-ticket-all card-img fa-6x"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Tickets em falta</strong></h4>
            <p class="card-text">10</p>
            <p class="card-text">
                <small>Last updated 10 mins ago</small>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-footer border-top">
            <p class="card-text">Ver lista de tickets</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>