<div class="container-fluid p-4">
  <div class="card-deck">
    <div class="card card-users text-right">
      <div class="row no-gutters">
        <div class="col-md-4 p-4 text-left">
          <i class="fas fa-users card-img fa-7x"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title"><strong>Utilizadores</strong></h3>
            <p class="card-text">12.300 </p>
            <p class="card-text">
                <small>Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-footer">
            <small class="text-muted">Ver lista de clientes</small>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>