<div class="container-fluid p-4">
  <div class="card-deck">
    <div class="card card-users">
      <div class="row no-gutters">
        <div class="col-md-4 p-4">
          <i class="fas fa-users card-img fa-10x"></i>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>