<div class="container-fluid p-4">
  <div class="card-deck">
    <div class="card card-users text-right shadow">
      <div class="row no-gutters">
        <div class="col-md-4 p-4 text-left">
          <i class="fas fa-users card-img fa-7x"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Utilizadores</strong></h4>
            <p class="card-text">12.300 </p>
            <p class="card-text">
                <small>Last updated 3 mins ago by <b>Tibúrcio, o condutor</b></small>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-footer border-top">
            <p class="card-text">Ver lista de clientes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-rooms text-right shadow">
      <div class="row no-gutters">
        <div class="col-md-4 p-4 text-left">
          <i class="fas fa-comments card-img fa-7x"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Salas</strong></h4>
            <p class="card-text">12.300</p>
            <p class="card-text">
                <small>Last updated 3 mins ago by <b>Tibúrcio, o condutor</b></small>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-footer border-top">
            <p class="card-text">Ver lista de salas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-alerts text-right shadow">
      <div class="row no-gutters">
        <div class="col-md-4 p-4 text-left">
          <i class="fas fa-exclamation card-img ml-4 fa-7x"></i>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><strong>Salas</strong></h4>
            <p class="card-text">12.300</p>
            <p class="card-text">
                <small>Last updated 3 mins ago by <b>Bibi, o gordo</b></small>
            </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-footer border-top">
            <p class="card-text">Ver lista de alertas</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck mt-4">
      <div class="card card-tickets text-right shadow" style="max-width: 24rem;">
          <div class="row no-gutters">
            <div class="col-md-4 p-4 text-left">
                <i class="fas fa-ticket-alt card-img fa-7x"></i>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4 class="card-title"><strong>Salas</strong></h4>
                <p class="card-text">12.300</p>
                <p class="card-text">
                    <small>Last updated 3 mins ago by <b>Bibi, o gordo</b></small>
                </p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card-footer border-white border-top">
                <p class="card-text">Ver lista de alertas</p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>