<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-flex justify-content-center">
                <div class="row text-center title">
                    <div class="col-md-12">
                            <img src="/images/logo-syncready-vector-shadow.png" alt="SyncReady logo" class="img-fluid">
                            <p class="h1">SyncReady</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <form class="login-form shadow needs-validation" id="login_form" method="POST" action="/users">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Holy guacamole!</strong> Veja os erros abaixo
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="" for="exampleInputName1">Nome completo</label>
                        <input type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Nome completo">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                    </div>
                    <div class="form-group col-lg-9">
                        <label for="exampleInputTel1">Telemóvel</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <!--<span class="input-group-text" id="inputGroupPrepend3">+351</span>-->
                              <select id="disabledSelect" class="form-control input-group-text">
                                <option>+351</option>
                              </select>
                            </div>
                            <input type="tel" class="form-control" id="exampleInputTel1" placeholder="Telemóvel">
                        </div> 
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputCC1">Cartão de cidadão</label>
                        <input type="text" class="form-control" id="exampleInputCC1" placeholder="Cartão de cidadão">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputUsername1">Nome de utilizador</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Nome de utilizador">
                    </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputPassword1">Palavra-passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Palavra-passe">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputConfirm1">Confirmar palavra-passe</label>
                        <input type="password" class="form-control" id="exampleInputConfirm1" placeholder="Confirmar palavra-passe">
                    </div>
                    <button type="submit" class="btn-registar btn btn-block shadow-sm mt-4">Registar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#login_form').submit(evt => {

            // validations
                
            

            evt.preventDefault();
        })
    })
</script>
<footer class="login-footer shadow">
    <strong>&copy; SyncReady</strong> - 2019 - todos os direitos reservados
</footer>