<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header" style="background-color: #F25C29; color: white;">
              <h5 class="modal-title" id="login">TrainEnergy - Iniciar sessão </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                  <div class="container">
                   <form class="form-signin" onsubmit="return false;" id="Iniciarlogin">
                          <img class="logo" src="./recursos/imagens/logo3.png" height="80" width="75" class="logotipo"><font color="gold" size="3"><b><font color="#4A5F75">| TrainEnergy - Store</font></b></font>
                          <input type="email" id="inputEmail" class="form-control" placeholder="Introduzir email" value="" name="email">
                          <input type="password" id="inputPassword" class="form-control" placeholder="Introduzir password" value="" name="password">
                          <button class="btn-block btnLogin" id="entrarlogin" type="submit" style="cursor:pointer;">Entrar</button>
                          <div class="erroLogin"></div>
                          <hr>
                          <div class="container justify-content-center">
                              <div class="row ml-2">
                                  <div class="col-sm-6">
                                      <a href="./?p=opcoes-ativar" class="options-login">Ativar conta <i class="fas fa-check"></i></a>
                                  </div>
                                  <div class="col-sm-6">
                                      <a href="./?p=opcoes-redefinir" class="options-login" >Redefinir password <i class="fas fa-question-circle"></i></a>
                                  </div>
                              </div>
                          </div>
                  </form>
                  </div>
            </div>
            <div class="modal-footer" style="background-color: #F25C29; color: white;">
            <button class=" btnLogin" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
     
      <button onclick='$("#login").modal("show");'>123</button>
      
      
      
      
      <div class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-flex justify-content-center">
                <div class="row text-center title">
                    <div class="col-md-12">
                            <img src="/images/logo-syncready-vector-shadow.png" alt="SyncReady logo" class="img-fluid">
                            <p class="h1">SyncReady</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-8">
                <form class="login-form shadow" method="POST" action="/users">
                    <div class="alert alert-danger alert-dismissible show" role="alert">
                        <strong>Holy guacamole!</strong> Veja os erros abaixo.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="" for="exampleInputName1">Nome completo</label>
                        <input type="text" class="form-control" id="fullname" aria-describedby="emailHelp" placeholder="Nome completo">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                    </div>
                    <div class="form-group col-lg-9">
                        <label for="exampleInputTel1">Telemóvel</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <!--<span class="input-group-text" id="inputGroupPrepend3">+351</span>-->
                              <select id="disabledSelect" class="form-control input-group-text">
                                <option>+351</option>
                              </select>
                            </div>
                            <input type="tel" class="form-control" id="exampleInputTel1" placeholder="Telemóvel">
                        </div> 
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputCC1">Cartão de cidadão</label>
                        <input type="text" class="form-control" id="exampleInputCC1" placeholder="Cartão de cidadão">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputUsername1">Nome de utilizador</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend">@</span>
                            </div>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Nome de utilizador">
                    </div>
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputPassword1">Palavra-passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Palavra-passe">
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputConfirm1">Confirmar palavra-passe</label>
                        <input type="password" class="form-control" id="exampleInputConfirm1" placeholder="Confirmar palavra-passe">
                    </div>
                    <button type="submit" class="btn-registar btn btn-block shadow-sm mt-4">Registar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="login-footer shadow">
    <strong>&copy; SyncReady</strong> - 2019 - todos os direitos reservados
</footer>